# Environment variables
.env

# Subscriptions
subscriptions.csv

# Output results
outputs/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
venv/
.venv/
ENV/

# IDE / Editor
.vscode/
.idea/